# Perceptron Learning Algorithm

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
#Read the dataset 'classification',remove the last column:
dataset = pd.read_table('classification.txt',sep=',',header=None,names=['x1','x2','x3','label','na'])
dataset = dataset.drop(['na'],axis=1)

#Add the first column-X0:
x0 = []
for i in range(len(dataset)):
    x0.append(1)

first_col = pd.DataFrame(columns=['x0'],data=x0)

dataset = first_col.merge(dataset,how='inner',left_index=True, right_index=True)

In [4]:
#Check our dataset:
dataset

      x0        x1        x2        x3  label
0      1  0.750072  0.977408  0.885658     -1
1      1  0.877914  0.019251  0.506711      1
2      1  0.777325  0.994066  0.822244     -1
3      1  0.181158  0.460749  0.525477     -1
4      1  0.114564  0.067555  0.128920     -1
...   ..       ...       ...       ...    ...
1995   1  0.302021  0.049354  0.973333     -1
1996   1  0.196709  0.598557  0.252530     -1
1997   1  0.515506  0.153544  0.012755      1
1998   1  0.228226  0.971554  0.183059     -1
1999   1  0.363915  0.492071  0.719527     -1

[2000 rows x 5 columns]

In [5]:
#Divide our dataset into X(coordinates of points) and Y(label):
X = dataset.drop(['label'],axis=1)
Y = dataset.loc[:,'label']

In [8]:
X

      x0        x1        x2        x3
0      1  0.750072  0.977408  0.885658
1      1  0.877914  0.019251  0.506711
2      1  0.777325  0.994066  0.822244
3      1  0.181158  0.460749  0.525477
4      1  0.114564  0.067555  0.128920
...   ..       ...       ...       ...
1995   1  0.302021  0.049354  0.973333
1996   1  0.196709  0.598557  0.252530
1997   1  0.515506  0.153544  0.012755
1998   1  0.228226  0.971554  0.183059
1999   1  0.363915  0.492071  0.719527

[2000 rows x 4 columns]

In [9]:
Y

0      -1
1       1
2      -1
3      -1
4      -1
       ..
1995   -1
1996   -1
1997    1
1998   -1
1999   -1
Name: label, Length: 2000, dtype: int64

In [43]:
#Randomize the initial weights:
weights = np.random.random(4)
print('The initial weights are',weights)

The initial weights are [0.62579261 0.3006867  0.1148084  0.25580977]

In [44]:
#Define PLA function to update weights:
def perceptron_learning_algo (data,x,y,w,n_iteration,alpha):
    n = 0
    while n < n_iteration:
        n+=1 
        for i in range(len(data)):
            thershold = np.dot(w,(np.array(x.iloc[i]))) #Calculate the thershold function
            if thershold < 0 and y.iloc[i] == 1: #Pick the violated data points and update weights
                w = w + alpha *np.array(x.iloc[i])
                break
            elif thershold >= 0 and y.iloc[i] == -1:
                w = w - alpha *np.array(x.iloc[i])
                break
            else:
                continue 
                              
    print('The weights after PLA iterates',n_iteration,'times are',w)  
    return w

In [45]:
#Define the condition for iteration:
#n_iteration = 7000
#alpha = 0.01

#update the weights 7000 tims with alpha 0.01:
weights_updated=perceptron_learning_algo(dataset,X,Y,weights,7000,0.01)

The weights after PLA iterates 7000 times are [ 0.00579261  0.65346804 -0.5161071  -0.37992947]

In [46]:
#Add the predicted results to our dataset:
predict = []

for i in range(len(dataset)):
    if np.dot(weights_updated,(np.array(X.iloc[i]))) >= 0:
        predict.append(1)
    elif np.dot(weights_updated,(np.array(X.iloc[i]))) < 0:
        predict.append(-1)

predict_col = pd.DataFrame(columns=['Predicted label'],data=predict)
new_dataset = dataset.merge(predict_col,how='inner',left_index=True, right_index=True)

In [47]:
new_dataset

      x0        x1        x2        x3  label  Predicted label
0      1  0.750072  0.977408  0.885658     -1               -1
1      1  0.877914  0.019251  0.506711      1                1
2      1  0.777325  0.994066  0.822244     -1               -1
3      1  0.181158  0.460749  0.525477     -1               -1
4      1  0.114564  0.067555  0.128920     -1               -1
...   ..       ...       ...       ...    ...              ...
1995   1  0.302021  0.049354  0.973333     -1               -1
1996   1  0.196709  0.598557  0.252530     -1               -1
1997   1  0.515506  0.153544  0.012755      1                1
1998   1  0.228226  0.971554  0.183059     -1               -1
1999   1  0.363915  0.492071  0.719527     -1               -1

[2000 rows x 6 columns]

In [48]:
#Calculate the model accuracy rate:
accurate = 0
for i in range(len(new_dataset)):
    if new_dataset.iloc[i][4] == new_dataset.iloc[i][5]:
        accurate+=1
    else:
        pass

accuracy_rate = accurate/(len(new_dataset))
print ('The accuracy of PLA after model iterates 7000 times is',accuracy_rate)

The accuracy of PLA after model iterates 7000 times is 0.982